
@{
    ViewBag.Title = "Index";
}
@section head{

    <style>
        canvas{

            width: 100px;
            height: 100px;
        }


    </style>

}

<script>
    //aloita kaavio
    var myChart = null;
    var chartOptions = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    };


    function alustaGraafi() {
        var ctx = document.getElementById('myChart');
        myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["aa", "ss"],
                datasets: [{
                    label: 'Lukumäärä',
                    data: [],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: chartOptions
        });

    }

    function lataaDataPalvelimelta(url) {
        $.get(url, function (data) {
            //alert("Data haettu")

            myChart.config.data.datasets[0].data = data.Counts;
            myChart.config.data.labels = data.Labels;
            myChart.update();
        });
    }


    //sivunalustus
    $(function () {
        alustaGraafi();
        lataaDataPalvelimelta("/Reports/GetTimesheetCounts");

        $("#showOnlyCompletedRecords").change(function () {
            var selected = $("#showOnlyCompletedRecords").is(":checked");

            var url = "/Reports/GetTimesheetCounts";
            if (selected) {
                url += "?onlyComplete=1"
            }
            lataaDataPalvelimelta(url);
        })
    });

</script>
<h2>Index</h2>

<input id="showOnlyCompletedRecords" type="checkbox" /> Show Only Completed Records
<canvas id="myChart" width="50" height="50"></canvas>

